/* 
    Created on : Oct 10, 2017, 4:45:15 PM
    Author     : Hayk
*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i');

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

body.signin {
    background-image: url('../media/bg1.jpg');
}

.signin header h1 {
    color: rgba(255,255,255,0.8);
}

header h1 {
    color: darkslategray;
    margin-left: 10px;
}

nav {
    background-color: darkslategray;
    margin-bottom: 15px;
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav ul.pull-right {
    position: absolute;
    top: 0;
    right: 0;
}

nav ul li {
    padding: 5px;
    display: inline-block;
}

nav ul li a,
nav ul li a:visited {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 2px;
}

nav ul li a:hover,
nav ul li a:active,
nav ul li.active a {
    color: darkslategray;
    background-color: rgba(255,255,255,0.7);
}

main.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: #e6e6e6;
    border-radius: 5px;
    box-sizing: border-box;
}

footer {
    position: absolute;
    box-sizing: border-box;
    background-color: darkslategray;
    color: #fff;
    font-size: 0.75rem;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 4px 6px;
    text-align: center;
}

table.data-table {
    margin-bottom: 15px;
}

table.data-table td,
table.data-table th {
    line-height: 150%;
    padding: 4px 6px;
}

table.data-table tbody tr:nth-child(odd) {
    background-color: #ccc;
}

table.data-table tbody tr:nth-child(even) {
    background-color: #fff;
}

table.data-table input[type=checkbox] {
    transform: scale(1.4, 1.4);
}

.form-compact {
    width: 460px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.form-blue {
    background-color: rgba(255,255,255,0.85);
}

form fieldset {
    position: relative;
    border: none;
    padding: 50px 0 15px 0;
    margin: 0;
}

form fieldset legend {
    position: absolute;
    top: 5px;
    font-size: 2rem;
    font-weight: 500;
}

form label {
    display: block;
    font-size: 0.925rem;
    margin-top: 15px;
    margin-bottom: 2px;
}

form input[type=text],
form input[type=password] {
    width: 100%;
    box-sizing: border-box;
    line-height: 110%;
    font-size: 1.1rem;
    padding: 10px 6px;
}

.button {
    font-size: 1.2rem;
    padding: 8px 10px;
}

.button:enabled {
    cursor: pointer;
}

.button:disabled {
    cursor: not-allowed;
}

a,
a:visited {
    display: inline-block;
    text-decoration: none;
    color: darkslategrey;
}

form a {
    margin-top: 10px;
}

a:hover,
a:active {
    color: maroon;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.alert {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 4px;
}

.alert-warning {
    background-color: gold;
    color: #000;
}

@media print {
    button, nav, main h2 {
        display: none;
    }

    main.container {
        width: 100%;
    }

    form fieldset {
        border: 1px solid #ccc;
    }
}